@page
@model IndexModel
@{
    ViewData["Title"] = "SA - ID Generator";
}

<!-- Webpage UI -->

<div class="container p-5">
    <h1 class="text-center mb-4">
        ID Generator
    </h1>
    <div class="px-5 pb-5 pt-2">
        <form>
            <fieldset>
                <div>
                    <label class="form-label mt-4">
                        Date of Birth
                    </label>
                    <div class="input-group">
                        <select class="form-select">
                            <option>
                                2001 (~23 years old)
                            </option>
                        </select>
                        <select class="form-select">
                            <option>
                                January
                            </option>
                        </select>
                        <select class="form-select">
                            <option>
                                12
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label class="form-label mt-4">
                            Gender assigned at birth
                        </label>
                        <select class="form-select">
                            <option>
                                Born as Female
                            </option>
                            <option>
                                Born as Male
                            </option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="form-label mt-4">
                            Sequence override (Advanced)
                        </label>
                        <select class="form-select">
                            <option>
                                Randomise
                            </option>
                        </select>
                    </div>
                </div>
                <div>
                    <label class="form-label mt-4">
                        Citizenship status
                    </label>
                    <select class="form-select">
                        <option>
                            Citizen born in South Africa
                        </option>
                        <option>
                            Has permanent residency
                        </option>
                    </select>
                </div>
            </fieldset>
        </form>
    </div>
</div>